.footer {
  &-container {
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    &-content {
      display: flex;
      max-width: 960px;
      width: 100%;
      height: 481px;

      .contact-info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #333;
        padding: 50px;
        padding-top: 70px;
        margin: auto;
        // background-image: url(/assets/old-east-end-dark.jpeg);
        background-position: bottom;
        background-size: cover;

        p,
        h3 {
          color: white;
          line-height: 1.3;
        }

        h3 {
          font-size: 21px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &-contact-form {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 40px;
    position: relative;
  }

  &-input,
  &-textarea {
    height: 50px;
    border: 1px solid #333;
    padding: 10px;
    width: 100%;
  }

  &-textarea {
    height: 70px;
    resize: none;
    padding-top: 17px;
  }

  &-button {
    width: 120px;
    align-self: flex-end;
  }

  &-thank-you {
    &--container {
      height: 10px;
    }

    &--message {
      display: none;
    }
  }
}

@media(max-width: 960px) {
  .footer-container {
    padding: 0;
  }

  .footer-container-content {
    flex-direction: column;
    align-items: center;
    height: 481px * 2;

    .contact-info {
      max-width: 500px;
      width: 100%;
    }
  }

  .footer-contact-form {
    max-width: 500px;
    width: 100%;
  }
}