.button-primary {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  border: 1px solid transparent; /* [6] */
  background-color: transparent; /* [7] */
  background-color: blue;
  text-decoration: none;
	min-height: 52px;
	min-width: 120px;
  color: white;
  background: #0ABEFF;
  font-size: 16px;
  -webkit-appearance: none;
  &:hover {
    background-color: #cfcfcf;
    color:#0ABEFF;
  }
	&:focus {
		outline: none;
	}
  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

@media(max-width: 500px) {
  .button-primary {
    min-width: 80px;
  }
}
